:root {
    --light: #f6f6f6;
    --darkblue: #176cc0;
    --dark: #644943;
    --lightblue: #3498db;
    --red: #e74c3c;
    --lightred: #f9eae7;
    --lightyellow: #fff5d1;
    --light-dark: #6f6866;
    --border-radius: 0.3rem;
    --white: white;
  }
  ​
  /* Apply custom Google font */
  body {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
  }
  ​
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
  }
  ​
  /* Shared custom styles for headers */
  .header,
  .custom-modal-header,
  .custom-card-header,
  .btn-custom {
    background-color: var(--darkblue);
    color: var(--light);
  }
  ​
  .btn-custom:hover {
    color: var(--lightblue);
  }
  ​
  .table-custom th {
    background-color: var(--red);
    color: var(--light);
  }
  ​
  /* style project rows based on status (late, due today) */
  .project-late {
    background-color: var(--lightred);
  }
  ​
  .project-today {
    background-color: var(--lightyellow);
  }

  .hero {
    padding: 2% 3%;
    background-color: var(--darkblue);
    color: var(--white);
    text-align: center;
  }

  .app-title {
    font-size: 3rem;
    background-color: var(--darkblue);
    color: var(--lightred);
    padding: 0 10px;
    display: inline-block;
  }

  .flex-row {
    display: flex;
    flex-wrap: wrap;
  }

  .justify-space-between {
    justify-content: space-between;
  }

  .searchcity {
    color: var(--primary);
    padding: 2%;
  }

  .col-12 {
    flex: 0 0 20%;
  }

  .col-13 {
    flex: 0 0 75%;
  }

  .card {
    margin: 0 0 20px 0;
  }

  .card-header {
    font-size: 40px;
    padding: 0%;
  }
  .card-body {
    padding: 1%;
    font-size: 30px;
  }

  .form-input {
    width: 88%;
    padding: 5%;
    margin: 1px 0;
    font-size: 1.2rem;
    border: 2px solid var(--light-dark);
    border-radius: var(--border-radius);
  }

  .btn {
    font-size: 1.3rem;
    text-decoration: none;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 5px 0;
    border-radius: var(--border-radius);
    color: var(--white);
    border: none;
    outline: none;
    background-color: var(--lightblue);
    transform: translate(-1px, -1px);
  }

  .forecast {
    font-size: 30px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 1px;
    background-color: #2196F3;
    padding: 2px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
    padding: 80px 0;
    font-size: 30px;
  }
  
  .item1 {
    grid-row-start: 1;
    grid-row-end: 3;
  }


 